<%= form_for(@sogou) do |f| %>
  <% if @sogou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sogou.errors.count, "error") %> prohibited this sogou from being saved:</h2>

      <ul>
      <% @sogou.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
