<h1>Listing ad</h1>


<%

# concat "<hr />".html_safe  
#   
# @db[:ad_sogou].find.sort('id' => Mongo::Index::DESCENDING).each do |network|
	# concat network
	# concat "<br />".html_safe 
# end
#   
# concat "<hr />".html_safe
# 
# @ad.each_with_index do |ad, index|
	# concat ad 
	# concat "<br />".html_safe
# end
%>
 