<h1>sogous/campaign</h1>
<%
# 
# 
# concat "<hr />".html_safe  
# 
# concat @cpcplan
#  
# concat "<hr />".html_safe
#  
# @db[:network].find.each do |network|
	# concat network
	# concat "<br />".html_safe 
# end
#  
# concat "<hr />".html_safe  
#   
# @db[:campaign_sogou].find.each do |network|
	# concat network
	# concat "<br />".html_safe 
# end
#   
# concat "<hr />".html_safe

%>