<h1>Listing ad</h1>


<%

# concat "<hr />".html_safe  
# @index = 0;
# concat @db[:keyword_sogou].find().count.to_i
# concat "<hr />".html_safe  
# @db[:keyword_sogou].find().each do |keyword|
	# if @index.to_i == 10000
		# break
	# end
	# concat keyword
	# concat "<br />".html_safe
	# @index = @index + 1;  
# end
#   
# concat "<hr />".html_safe
# 
# @keyword.each_with_index do |ad, index|
	# concat ad
	# concat "<br />".html_safe
# end
%>
 